<link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --maroon-bg: #280e2b;
  --pink-clr: #f4506f;
  --white-txt: #fdfdfd;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  font-family: "Shantell Sans", cursive;
  background-color: var(--maroon-bg);
  color: var(--pink-clr);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.main-container {
  text-align: center;
  border: 3px solid var(--pink-clr);
  border-radius: 2rem;
  padding: 1rem;
}

select {
  border: 3px solid var(--pink-clr);
  border-radius: 0.5rem;
  background-color: var(--maroon-bg);
  color: var(--pink-clr);
}

.section-two {
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-guess {
  width: 6rem;
  height: 3rem;
  background-color: var(--white-txt);
  border: 3px solid var(--pink-clr);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 1px;
  margin-top: 1rem;
  /* margin-left: 4.6rem;
  margin-right: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
}

input {
  border: 2px solid var(--pink-clr);
  border-radius: 0.5rem;
  background-color: var(--maroon-bg);
  color: var(--pink-clr);
  cursor: pointer;
  width: 6rem;
  height: 3rem;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin-top: 1rem;
}

input ::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  appearance: none;
}

.btn {
  cursor: pointer;
  border-radius: 0.5rem;
  border: 2px solid var(--pink-clr);
  box-shadow: 0px 0px 6px 1px;
  font-size: 24px;
  font-weight: 600;
  padding: 0.5rem;
  color: var(--pink-clr);
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: var(--maroon-bg);
  box-shadow: none;
}

.disable {
  display: none;
}
